<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragon List</title>
    <link rel="stylesheet" href="../style/dragon.css">
    <script src="https://kit.fontawesome.com/3df32f415a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1><a href="./index.html">DRAGON LIST</a></h1>
    </header>

    <div class="list">
        <div class="dragon">
            <div>
                <img src="../img/fire.png" alt="firetype">
            </div>
            <div class="info">
                <h2>Name</h2>
                <a href="./infoDragon.html">More info</a>
            </div>
        </div>

        <div class="dragon">
            <div>
                <img src="../img/earth.png" alt="earth type">
            </div>
            <div class="info">
                <h2>Name</h2>
                <a href="./infoDragon.html">More info</a>
            </div>
        </div>

        <div class="dragon">
            <div>
                <img src="../img/water.png" alt="water type">
            </div>
            <div class="info">
                <h2>Name</h2>
                <a href="./infoDragon.html">More info</a>
            </div>
        </div>

        <div class="dragon">
            <div>
                <img src="../img/light.png" alt="light type">
            </div>
            <div class="info">
                <h2>Name</h2>
                <a href="./infoDragon.html">More info</a>
            </div>
        </div>

        <div class="dragon">
            <div>
                <img src="../img/dark.png" alt="dark type">
            </div>
            <div class="info">
                <h2>Name</h2>
                <a href="./infoDragon.html">More info</a>
            </div>
        </div>

        <div class="dragon">
            <div>
                <img src="../img/fire.png" alt="fire type">
            </div>
            <div class="info">
                <h2>Name</h2>
                <a href="./infoDragon.html">More info</a>
            </div>
        </div>
    </div>

    <footer>
        <a href="./addDragon.html">Add Dragon</a>
    </footer>
</body>
</html>